<div class="container">
  <div class="row ">
    <!-- <img src="{{this.product.imgUrl}}" alt="" class="img rounded col-xl-5 col-md-5 col-sm-12"> -->
    <div class="img_container col-5" style="background-image: url('{{this.product?.imgUrl}}'); background-size: cover;"></div>
    <div class="content col-xl-5 col-md-5 col-sm-12">
      <div class="content_inner">
        <h3 class="title">
          {{this.product!.name}}
        </h3>
        <br>
        <h3 class="price">
          От {{this.product!.price}} Р
        </h3>
        <br>
        <h6 class="count">
          В наличии:     {{this.product!.count}}
        </h6>

        <h6 class="description">
          Описание:
      </h6>
      <p class="description_text" >
        {{this.product!.description}}
      </p>
        <h6 class="city">
          Город:

        </h6>
        {{this.product!.city}} | {{this.product!.region}}

        <h6 class="seller">
          Выложил:  </h6>
          {{this.product!.seller!.name}}
          <button class="btn btn_seller" data-bs-toggle="modal" data-bs-target="#sellerInfoModal">Подробнее</button>


      </div>

      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#orderModal">Заказать</button>
    </div>


  </div>
<!-- <div class="comments">
  <div class="comment" *ngFor="let comment of comments; index as i; first as isFirst">
    <p class="comment_text">
      {{comment.text}}
    </p>
  </div>
</div>
<div class="feedback">
  <h4 class="feedback_text">
    Оставить отзыв
  </h4> -->
  <!-- <textarea name="comment" id="" class="form-control"></textarea>
  <br>
  <button class="btn btn-success">Отправить</button> -->
  <!-- <form #addForm="ngForm" (ngSubmit)="onAddComment(addForm)">
    <div class="form-group">
      <input type="number" ngModel name="productId" class="form-control" id="productId" value="{{this.product.id}}" >
    </div>

    <div class="form-group">
      <input type="number" ngModel name="userId" class="form-control" id="userId" value="{{getUserId()}}">
    </div>



    <div class="modal-footer">
      <button type="button" id="add-product-form" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
   </div>
  </form>
</div> -->
</div>


<!-- Seller info -->
<div class="modal fade" id="sellerInfoModal" tabindex="-1" aria-labelledby="sellerInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sellerInfoModalLabel">Информация о продавце</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <!-- <li class="list-group-item">Логин*: {{this.product.seller.username}}</li> -->
          <li class="list-group-item">Название компании: {{this.product!.seller!.name}}</li>
          <!-- <li class="list-group-item">ИНН*: {{seller.inn}}</li> -->
          <li class="list-group-item" >Описание компании: {{this.product!.seller!.description}}</li>
          <!-- <li class="list-group-item">Контактная информация: {{seller.contactInfo}}</li> -->
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Order info -->
<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="orderModalLabel">Контактная информация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="orderInfo" *ngIf="!this.logedIn()">
          <h5>{{this.product.seller.contactInfo}}</h5>
        </div>
        <div class="loginInfo" *ngIf="this.logedIn()">
          Вам необходимо войти в аккаунт
        </div>
      </div>
    </div>
  </div>
</div>




