<div class="container">
  <form #signupForm='ngForm' (ngSubmit)="onSubmit(signupForm)">
    <div class="form-group">
      <label for="userName">Логин</label>
      <input type="text" ngModel name="username" class="form-control" id="username" placeholder="Username" required>
   </div>

  <div class="form-group">
    <label for="inn">ИНН</label>
    <input type="number" ngModel name="inn" class="form-control" id="inn" placeholder="1234567891011" required>
  </div>
  <div class="form-group">
    <label for="contactInfo">Контактная информация</label>
    <input type="text" ngModel name="contactInfo" class="form-control" id="contactInfo" placeholder="Контактная информация" required>
  </div>
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" ngModel name="password" class="form-control" id="password" placeholder="Password" required>
  </div>

   <div class="modal-footer">
      <button type="button" id="signing-form" class="btn btn-secondary" routerLink="getLastPage()" routerLinkActive="active">Close</button>
      <button [disabled]="signupForm.invalid" type="submit" class="btn btn-primary">Sign up</button>
   </div>

  </form>
</div>
